In [22]:
import pandas as pd

In [23]:
from datetime import datetime

In [24]:
import mysql.connector as db

In [25]:
from sqlalchemy import create_engine

In [26]:
# Data read
data = pd.read_csv("traffic_police.csv",low_memory=False)

In [27]:
# Drop unwanted columns
data.drop( ["driver_age_raw","violation_raw"], axis = 1, inplace=True)

In [28]:
# Drop fully empty columns
data = data.dropna(axis=1, how="all")

In [29]:
# Find missing values
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age                0
driver_race               0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [30]:
data.fillna({"search_type":"None"},inplace=True)

In [31]:
row_miss = data[data.isnull().any(axis = 1)]
print(row_miss)

Empty DataFrame
Columns: [stop_date, stop_time, country_name, driver_gender, driver_age, driver_race, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, vehicle_number]
Index: []

In [32]:
#duplicates 
duplicates = data[data.duplicated()]
print("Total duplicate rows:",len(duplicates))

Total duplicate rows: 0

In [33]:
duplicates_subset = data[data.duplicated(subset=["vehicle_number"])]
print("Duplicates based on vehicle:",len(duplicates_subset))

Duplicates based on vehicle: 0

In [34]:
data["timestamp"] = pd.to_datetime(data["stop_date"].astype(str)+ " "+data["stop_time"].astype(str), format="%Y-%m-%d %H:%M:%S" , errors="coerce")

In [35]:
# MySQL Connection

connection = db.connect(

                host = "localhost",
                user = "root",
                password = "mani@2102",
                database = "securecheck"
)

In [36]:
cursor = connection.cursor()

In [37]:
# Create Table
cursor.execute("""CREATE TABLE IF NOT EXISTS signal_check (
  id INT AUTO_INCREMENT PRIMARY KEY,
  stop_date Date,
  stop_time Time,
  country_name VARCHAR(50),
  driver_gender VARCHAR(10),
  driver_age INT,
  driver_race VARCHAR(30),
  violation VARCHAR(50),
  search_conducted BOOLEAN,
  search_type VARCHAR(50),
  stop_outcome VARCHAR(50),
  is_arrested BOOLEAN,
  drugs_related_stop BOOLEAN ,
  stop_duration VARCHAR(50),
  vehicle_number VARCHAR(30),
  timestamp DateTime
);
""")

In [38]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\manim\appdata\local\programs\python\python310\lib\site-packages (1.1.2)

[notice] A new release of pip is available: 23.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
# create connection
engine = create_engine ("mysql+pymysql://root:mani%402102@localhost:3306/securecheck")

In [40]:
# insert dataframe into mysql
data.to_sql("signal_check",engine,if_exists="replace",index=False)

65538